#profilepic {
  border-radius: 50%;
}

.shadowtext {
  color: #a5a5a5;
}

#icon {
  background: #525252;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  transition: ease-in-out .2s;
}

#icon:hover {
  background: #6f6f6f;
}

#navbar {
  position: sticky;
  top: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background: rgba(38, 38, 38, 0.42);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(38, 38, 38, 0.3);}

#cv {
  padding: 2rem;
  background: #3b3b3b;
  border-radius: .5rem;
}

button {
  background: #3b3b3b;
  color: #a5a5a5;
  font-size: small;
  width: fit-content;
  cursor: pointer;
}

#hyperlink:hover {
  text-decoration: underline;
  cursor: pointer;
}

#clickable {
  cursor: pointer;
}

@media (min-width: 1181px) {
  body {
    background-color: #262626;
    color: #f5f5f5;
    font-size: medium;
  }

  i {
    font-size: 3rem;
  }

  #bout {
    max-width: 55vw;
  }
}
@media (min-width: 951px) and (max-width: 1180px) {
  body {
    background-color: #262626;
    color: #f5f5f5;
    font-size: medium;
  }

  i {
    font-size: 3rem;
  }

  #bout {
    max-width: 80%;
  }
}
@media (min-width: 639px) and (max-width: 950px) {
  body {
    background-color: #262626;
    color: #f5f5f5;
    font-size: medium;
  }

  i {
    font-size: 3rem;
  }

  #bout {
    max-width: 100%;
  }
}
@media (max-width: 639px) {
  body {
    background-color: #262626;
    color: #f5f5f5;
    font-size: small;
  }

  #bout {
    max-width: full;
  }
  
  i {
    font-size: 2.5rem;
  }
}